services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    command: python -m app.main
    env_file:
      - ./src/.env
    depends_on:
      - db
    volumes:
      - ./src/app:/code/app
      - ./src/.env:/code/.env

  db:
    image: postgres:13
    env_file:
      - ./src/.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    expose:
      - "5432"

volumes:
  postgres-data:
 
